@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #F9F9F9;
  font-family: 'Inter', sans-serif;
}

.container{
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

button{
  cursor: pointer;
  border: none;
  &:active{
    transition: 0.3s;
    transform: scale(0.9);
  }
}

input{
  outline: none;
  border: none;
}

a{
  text-decoration: none;
}